.spinner-box {
    overflow:hidden;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(71, 71, 71, 0.95);
    z-index: 9999;
}

.circle-border {
    width: 150px;
    height: 150px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(63,249,220);
    background: linear-gradient(0deg, rgba(63,249,220,0.1) 33%, rgba(63,249,220,1) 100%);
    animation: spin .8s linear 0s infinite;
    position:absolute;
    top:150px;

}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}


.circle-core {
    width: 100%;
    height: 100%;
    background-color: #1d2630;
    border-radius: 50%;
}




.main-corpo {
    display: flex;
    border: 10px solid #39FF14;
    border-radius: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
    padding:10px 10px;
    top:50px;
}

    .menu-selection{
        display: flex;
        flex-wrap: wrap;
        gap: 0; 
    }

    .utility-bar {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        border-bottom: 3px solid #39FF14;
        flex-direction: row; /* Direzione orizzontale di default */
        min-height:65px;
        max-height:75px;
    }


.main-title {
    flex: 4; /* Occupa 4/10 dello spazio disponibile */
}

.main-title button{
    font-size:35px;
}

.spazio-vuoto {
    flex: 3; /* Occupa 3/10 dello spazio disponibile, lasciando uno spazio vuoto */
}

.right-side {
    display: flex;
    justify-content: space-evenly; /* Gli elementi si distribuiscono uniformemente */
    flex: 3; /* Occupa gli ultimi 3/10 dello spazio disponibile */
}

.main-notifiche, .main-menu {
    flex: none; /* Mantiene le dimensioni predefinite */
}
.item {
    text-align: center;
    flex: 1 1 auto;
    padding: 10px;
}

.notificationsBell {
    align-items: center;
    justify-content: center;
    display: flex;
}

.specMenu {
    align-items: center;
    justify-content: center;
    display: flex;
}

.menu-selection {
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
    min-height:35px;
    max-height: 43px;
    justify-content:space-evenly;
    overflow-x:auto;
}

.bottoni-argomenti{
    font-size:20px;
}

@media (max-width: 500px) {
    .utility-bar {
        flex-direction: row;
        min-height:200px;
    }

    .menu-selection {
        flex-wrap:nowrap;
        column-gap: 20px;
    }
}