.colore-scritte-HV {
    color: #39FF14; /* verde fluo */
}

.colore-scritte-LV {
    color: #D7D8D7; /*Grigio chiaro / quasi bianco */
}

.colore-sfondo {
    background-color: black; /*grigio scuro / argento */
}