.video-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height: 80%;
    width: 100%;
    scroll-snap-type: y mandatory;
    position: relative; 
    top:10%;
}

.video-container {
    display: flex;
    scroll-snap-align: start;
    align-items: center;
    box-sizing: border-box; /* Include il padding e il bordo nelle dimensioni totali */
    position:absolute;
}

.video-item {
    width: 80%; /* Occupa l'80% della larghezza del contenitore */
    height: 100%; /* Occupa il 100% dell'altezza del contenitore */
    object-fit: cover; /* Mantiene le proporzioni del video */
    border-radius: 25px;
    box-sizing: border-box; /* Include il padding e il bordo nelle dimensioni totali */
}

.utility-bar-reels {
    width: 20%; /* Occupa il restante 20% della larghezza */
    height: 100%; /* Occupa il 100% dell'altezza del contenitore */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; /* Include il padding e il bordo nelle dimensioni totali */
}

.utility-bar-txt {
    display: flex;
    flex-direction: column;
    height: 50%; /* Occupano ciascuno metà della utility-bar-reels */
    box-sizing: border-box; /* Include il padding e il bordo nelle dimensioni totali */
    overflow: visible;
    padding-left: 10px;
}

.utility-bar-title, .utility-bar-link {
    white-space: nowrap; /* Evita che il testo si avvolga */
    overflow: visible; /* Permetti al contenuto di fuoriuscire dal contenitore */
}

@media (max-height: 699px), (max-width: 499px) {
    .utility-bar-title {
        font-size: 30px; /* Riduce la dimensione del font del titolo su schermi più piccoli */
    }

    .utility-bar-link {
        font-size: 20px; /* Riduce la dimensione del font del link su schermi più piccoli */
    }
}


.utility-bar-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Spaziatura uniforme tra gli elementi */
    height: 50%; /* Occupano ciascuno metà della utility-bar-reels */
    box-sizing: border-box; /* Include il padding e il bordo nelle dimensioni totali */
    align-items: center; /* Centro orizzontale */
}

.fa-share, .fa-thumbs-up, .fa-comment {
    width: auto;
    height: auto;
}

.comments-overlay {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 50%;
    background: rgba(0, 0, 0, 0.8);
    display: none; /* Nascondi per default */
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 20px 20px 20px 20px;
}

.comments-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.comments-display {
    flex: 9; /* Occupa il 90% della altezza della sovrapposizione */
    overflow-y: auto;
    padding: 10px;
}

.comment-input {
    flex: 1; /* Occupa il 10% della altezza della sovrapposizione */
    display: flex;
    align-items: center;
    padding: 10px;
}

    .comment-input input {
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        border: none;
    }

    .comment-input button {
        margin-left: 10px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
    }

